*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --colorPrimary: #142850;
  --colorSecondary: #27496d;
  --colorAncent: #0c7b93;
  --colorText: #00a8cc;
  --colorLove: #f0134d;
  --colorHeader: #ffa41b;
  --colorSocial: rgba(39, 73, 109, 0.5);
}

body {
  background: var(--colorPrimary);
  color: var(--colorText);
  font-family: verdana;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  position: fixed;
  top:0;
  background-color: var(--colorSecondary);
  color: var(--colorHeader);
  padding: 10px 25px;
  border-radius: 0 0 5px 5px;
}

/* start main css */

.container {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 85vh;
}

.dates {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 55vh;
  font-size: 10pt;
}

.from,.to{
  color: var(--colorHeader);
}

hr {
  width: 3rem;
  height: 5px;
  border: none;
  background: linear-gradient(45deg, white, #f4425c);
  border-radius: 5px;
}

.box {
  width: 19em;
  height: 7em;
  border-radius: 1em;
  background-color: white;
  color: var(--colorAncent);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box-data img {
  max-width: 65px;
}

.datas, .to {
  transition: 1s ease;
  animation: loading .7s ease infinite;
}

.data-source a {
  color: var(--colorHeader);
  text-decoration: none;
  font-size: 10pt;
}

@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* end main css */
.sidebar-right {
  position: fixed;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  padding: 0 0 0 10px;
}

.close {
  display: none;
}

.social-container {
  position: absolute;
  padding: 0 15px;
  border-radius: 5px;
  top: -250%;
  right: -250%;
  opacity: 0;
  transform: scale(.5);
  transition: .5s ease;
  background-color: var(--colorSocial);
}

.social-container > .social-item {
  margin: 15px 0;
}

.social-link {
  padding: 5px;
  background-color: var(--colorText);
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: .25s linear;
}

.social-link:hover{
  transform: translateX(-10px);
  border: 1.5px solid var(--colorHeader);
}

.social-link:focus {
  background-color: var(--colorHeader)
}

.icon {
  width: 25px;
}

button.social {
  padding: 5px;
  border-radius: 3px 0 0 3px;
  border: none;
  cursor: pointer;
  color: var(--colorHeader);
  background-color: var(--colorSecondary);
  font-weight: 900;
}


footer {
  position: fixed;
  bottom: 0;
  background-color: var(--colorSecondary);
  color: var(--colorHeader);
  padding: 10px 25px;
  border-radius: 5px 5px 0 0;
  font-size: 10pt;
}

.text-one {
  margin-right: 5px;
}

.text-two {
  margin-left: 22px;
}

.author {
  color: gold;
}

.love {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--colorLove);
  transform: rotate(45deg);
  margin-top: 5px;
}

.love::after, .love::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: var(--colorLove);
  border-radius: 50%;
}

.love::after {
  top: -8px;
  left: 0;
}

.love::before {
  top: 0;
  left: -8px;
}
